<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--namespace是对应的mapper接口文件 -->
<mapper namespace="com.cqut.yyc.dao.ISysPermissionMapper">
	<!-- id与接口文件中的方法名相同 -->
	<select id="findPermissionByRoleId"
		resultType="com.cqut.yyc.dao.entity.SysPermission">
		SELECT
		sys_role.id,
		sys_role.available,
		sys_role.description,
		sys_role.role,
		sys_permission.`name`,
		sys_permission.permission,
		sys_permission.url
		FROM
		(sys_permission, sys_role)
		RIGHT JOIN sys_role_permission ON sys_permission.id =
		sys_role_permission.permission_id
		AND sys_role_permission.role_id = sys_role.id
		WHERE sys_role.id=#{roleId}
	</select>

	<select id="findAllPermission"
		resultType="com.cqut.yyc.dao.entity.SysPermission">
		SELECT
		*
		FROM
		sys_permission
		Order BY id desc
	</select>

</mapper>